{{extend 'layout.html'}}
{{footer_enable=True}}
<h2>{{=T('1. Basic configuration')}}</h2>

<div id="custom_text_start">
	{{=XML(startpage)}}
</div>

{{if config.documentation_url:}}
<div id="docurl">
  {{=XML(T('If you need help with Meshkit please see: %(url)s.') %
         dict(url='<a href="' + config.documentation_url + '">' + T('Meshkit Documentation') + '</a>'))}}
</div>
{{pass}}


    <form method="post" name="step1" enctype="multipart/form-data" action="">

{{
field_target = formhelpers.formfield()
field_target.Name = 'target'
field_target.Label = T('Target')
field_target.Valuelist = targets
field_target.Valueselected = request.vars.target
field_target.Helptext = T('For which hardware platform you want to build an image. If you are unsure which is the right one for your device visit the openwrt wiki and search for your device there.')
        field_target.style = 'display:none;'
field_target = field_target.select()


field_noconf = formhelpers.formfield()
field_noconf.Name = 'noconf'
field_noconf.Label = T('No configuration')
field_noconf.Value = session.noconf
field_noconf.Helptext = T('If you check this option meshkit will only build your images, but not configure your system. Also it is still possible to select packages and upload your own files.')
field_noconf = field_noconf.chkbox()


field_expert = formhelpers.formfield()
field_expert.Name = 'expert'
field_expert.Label = T('Expert')
field_expert.Helptext = T('Enable this to show much more options for customizing your firmware.')
field_expert.Value = session.expert or False
field_expert = field_expert.chkbox()


field_mail = formhelpers.formfield()
field_mail.Name = 'mail'
field_mail.Label = T('Email')
field_mail.Helptext = T('Enter your email address here. After the images have been built you will receive an email with download links for the firmware.')
field_mail.Value = request.vars.mail or user_email or ''
field_mail.style = 'display: none;'
field_mail = field_mail.input()
}}

{{if config.communitysupport == True:

    field_community = formhelpers.formfield()
    field_community.Name = 'community'
    field_community.Label = T('Community')
    field_community.Valuelist = communities
    field_community.Valueselected = session.community
    field_community.Helptext = T('Please select your wireless community here. This will select reasonable defaults for step 2 of the image configuration.')
        field_community.style = 'display:none;'
    field_community = field_community.select()

}}
{{pass}} 
{{=field_community}}
{{pass}}

        

        

{{=field_target}}

       <div>
            <h3>{{=T('Select by model')}}</h3>
        </div>

<div id="modellist">
</div>
<script type="text/javascript">
var modellist = {{=XML(modellist)}};
var target_options = document.getElementById('imageconf_target').options;
var target_hiddenvalue = document.getElementById('imageconf_target').value;

function target_rewrite(target) {
    for(option in target_options) {
	var ret;
	if(typeof target_options[option].value != "undefined"){
          if (target_options[option].value.match(target)) {
             ret = target_options[option].value;
          }
	}
    }
    if (typeof ret == "undefined") {
       ret = target_hiddenvalue
    }
    return ret;
}

function set_target(target) {
    $('select[name="target"]').val(target);
}

function set_profile(profile) {
    $('input[name="profile"]').val(profile);
}

function change_manufactor() {
    var modellist = {{=XML(modellist)}};
    var selectedManufactor = $('#manufactorselect').val();
    var models = sort(modellist[selectedManufactor]);
    var modellist = "";
    for (var model in models) {
        modellist += '<option ';
        if (model === "WR842") {
            modellist += "selected";
        }
        modellist += '>' + model + '</option>';
    }
    document.getElementById('modellistselect').innerHTML = modellist;
    change_model();
}
function sort(obj) {
  var temp_array = [];
  for (var key in obj) {
    if (obj.hasOwnProperty(key)) {
      temp_array.push(key);

    }
  }
  temp_array.sort();
  var temp_obj = {};
  for (var i=0; i<temp_array.length; i++) {
    temp_obj[temp_array[i]] = obj[temp_array[i]];
  }
  return temp_obj;
};

function change_model() {
    var modellist = {{=XML(modellist)}};
    var selectedManufactor = $('#manufactorselect').val();
    var selectedModel = $('#modellistselect').val();
    var target = modellist[selectedManufactor][selectedModel]['target'];
    var profile = modellist[selectedManufactor][selectedModel]['profile'];
    var full_target = target_rewrite(target);
    var msg = '{{=T('Selected')}} ' + selectedModel + '<ul><li>{{=T('Target')}}: ' + full_target + '</li><li>{{=T('Profile')}}: ' + profile + '</li></ul>';
    set_target(full_target );
    set_profile( profile );
    $(".flash").html(msg).slideDown().delay(5000).slideUp();
}

var newlist = '<table><tr><th>Hersteller</th><td><select id="manufactorselect" onchange="change_manufactor();">';
var sortedModelist = sort(modellist);
for(var manufacturer in sortedModelist) {
  newlist += '<option value="' + manufacturer + '" ';
  if (manufacturer === "TP-Link") {
    newlist += 'selected';
  }
  newlist += '>' + manufacturer + '</option>';
}
    newlist += '</select></td></tr>';
    newlist += '<tr><th>Modell</th><td><select id="modellistselect" onchange="change_model()"></select></td></tr>';
    newlist += "</table>";

document.getElementById('modellist').innerHTML = newlist;

</script>
        
{{=field_expert}}

{{if not config.noconf == False:}}
    {{=field_noconf}}
{{pass}}
        
{{=field_mail}}
            
        <div>
            <input type="submit" value="Weiter" name="inputnext" />
        </div>
        <input type="hidden" name="profile" id="imageconf_profile"/>
        <input type="hidden" name="_formname" value="step1" />
    </form>

<script type="text/javascript">
    change_manufactor();
</script>

{{block footer}}
{{include 'footer.html'}}
{{end}}
