<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  
  <title>{{=response.title or request.application}}</title>
  
  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />  
  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
      j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
      device-width: Occupy full width of the screen in its current orientation
      initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
      user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  
    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables 
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>  

  <!-- include stylesheets -->
  {{
  
  if response.menu:
     response.files.append(URL('static','css/superfish.css'))
     response.files.append(URL('static','js/superfish.js'))
  pass
  response.files.append(URL('static','js/functions.js'))
  response.files.append(URL('static','js/jquery-ui.min.js'))
  response.files.append(URL('static','css/jquery-ui.css'))
  response.files.append(URL('static','css/custom.css'))
   response.files.append(URL('static','css/design.css'))
  response.files.append(URL('static','css/dropdown.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{if response.menu:}}
  <script type="text/javascript">
    jQuery(function(){ jQuery('ul.sf-menu').supersubs({minWidth:12,maxWidth:30,extraWidth:3}).superfish(); });
  </script>
  {{pass}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'sixteen',1:'twelve',2:'eight'}[
     (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}


</head>
<body>
  {{response.write(headerstream, escape=False)}}
  
    
    <div class="flash">{{=response.flash or ''}}</div>
<br>
    <div id="content" >
        <div id="sidebar">
        <h2>Meshkit</h2>
        <p>
                Mit diesem Meshkit kannst du die Firmware für Freifunk Halle erstellen.
        </p>
        <h2>Router Empfehlung</h2>
        <p>
                Wir empfehlen aktuell folgende Routermodelle für Freifunk Halle.
        </p>
        <ul>
        <li>   
                TP-Link TL-<b>WDR4300</b>nd
        </li>
        <li>   
                TP-Link TL-<b>WDR3600</b>nd
        </li>
        <li>   
                TP-Link TL-<b>WR1043</b>nd
        </li>
        <li>   
                TP-Link TL-<b>WR842</b>nd
        </li>
        </ul>
        <p>
                <b>nd</b> bedeutet, das die Antennen am Router angeschraubt sind und somit auch gegen andere Antennen getauscht werden können.
        </p>

        <h2>Vorausetzungen</h2>
        <ul>
        <li>   
                <a target="_blank" href="https://freifunk-halle.net/forum"
                title="hier kannst du dich anmelden">Forum</a>
                anmelden
        </li>
        <li>   
                <a target="_blank" href="https://www.freifunk-halle.net/mediawiki/wiki/Adressverwaltung"
                title="hier kannst du eine IP-Adresse regestrieren.">IP-Adresse</a>
                regestrieren
        </li>
        </ul>
        <h2>Hilfestellung</h2>
        <ul>
        <li>
                jeder Schritt enthält alle nötigen Erklärungen
        </li>
        <li>
                die meisten Einstellungen sind schon vorausgewählt
        </li>
        <li>
                ein paar Einstellungen musst du selber machen
        </li>
        <li>
                leere Felder solltest du entsprechend ausfüllen
        </li>
        <li>
                für Hilfe klick auf das Fragezeichen neben dem jeweiligen Feld
        </li>
        </ul>

        <h2>Beginnen</h2>
        <ul>
        <li>   
                <b>Routermodel </b> anklicken
        </li>
       <li>   
                <b>Weiter </b> klicken
        </li>
        </ul>

        <h2>Lizenz</h2>
        <p>
                <a href="http://creativecommons.org/licenses/by-sa/3.0/de/" target="_blank">
                    <img src="http://freifunk-kanal13.de/media/cc-by-sa.png" alt="Lizenz: CC-BY-SA">
                </a>
        </p>

</div>
        
      <div class="teaser0" >                 
            <h2 class="remove-bottom title" style="margin-top: .5em;">
            {{=response.title or request.application}}
            </h2>
            <h5>{{=response.subtitle or ''}}</h5>
        </div>
{{is_mobile=request.user_agent().is_mobile}}
      {{if response.menu:}}
          <div id="menu" class="teaser" >
             {{=MENU(response.menu, _class='mobile-menu' if is_mobile else 'sf-menu',mobile=is_mobile)}}
          <br></div>
          {{pass}}
        
        <div class="teaser" style="clear:left;">
          {{block center}}
          {{include}}
          {{end}}
        </div>
        
        
        
      <div class="teaser">    
        {{block footer}} <!-- this is default footer -->
        Did you forget to include footer.html in your view to replace this footer?
        {{end}} 
      </div>
    </div><!-- content -->
    
    <div class="push"></div>

  {{response.write(footerstream, escape=False)}}
  <!--[if lt IE 7 ]>
    <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->
  {{if response.google_analytics_id:}}<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', '{{=response.google_analytics_id}}']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script> {{pass}}
</body>
</html>
